/* ----------------------HEADER---------------------------------------------------------------- */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 65px;
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    font-family: monospace ;
}
/* ----------------------NAVBAR---------------------------------------------------------------- */
.navbar{
    display: flex;
    background-color: white;
}
.logo{
    
    height: 160px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logojuve{
    width: 200px;
    
}
.mid-navbar{
    
    width: 12%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    height: 160px;
}
.napisy{
    display: flex;
    gap: 70px;
    font-size: 21px;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 550;
}
.right-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 58%;

}
.menu1{
    color: red;
    cursor: pointer;
}
.menu{
    color: gray;
}
.menu:hover{
    color: red;
    cursor: pointer;
    transition: 0.5s ease;

}
.navbar-choice{
    text-decoration: none;
}

/* -------------------------------------Section---------------------------------------------------- */
.Stadium{
    width: 100%;
}
.section{
    background-image:url(JuveStadium.jpg);
}



.section{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.bestgoals{
    
    display: flex;
    justify-content: center;
    position: relative;
    top: -300px;
    border: solid 10px red;
}
.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 0px;
}
/* ------------------------Footer-------------------------------------------------------------------------- */
.footer{
    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9037990196078431) 8%, rgba(80,111,140,0.9037990196078431) 66%, rgba(28,26,26,1) 87%, rgba(6,6,6,1) 96%, rgba(29,29,29,1) 100%); */
    /* display:grid ;
    grid-gap: 15px;
    /* background-color: azure; */
    background-color: white;
    font-size: 19px;
    font-family: cursive; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.sociallink{
    text-decoration: none;
    color: black;
}
.down-footer{
    
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    padding-bottom: 1rem;

}
.made{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;

}

.pusty{
    background-color: brown;
    
    margin-top: -4px;
    height: 18px;
}
.social{
    width: 40px;
    height: auto;
    
}
.social:hover{
    transform: scale(1.12);
    transition: .3s ease;
}
.up-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2rem;
    background-color: black;
    border-radius: 15px;
    width: 220px;
    margin-top: 1rem;

}

/* ----------------------------------HARMONOGRAM-SECTION------------------------------------------ */
.last-match{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: rgb(116, 114, 114);
    
}
.pasek{
    background-color: black;


}
.section-harmonogram{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: black;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}
.next-macth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: black;
    color:orange ;
    

}
.juvemecz{
    background-color: black;
    width: 75px;
}
.mecze2{
    font-size: 50px;
    background-color: black;
    color: red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:550;

}
.mecze{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkmecze{
    text-decoration: none;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.harmonogram{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    font-weight: 550;
    color: red;
}
.harmo{
    width: 570px;
    
}
.harmonogramphoto{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: black;
    width: 50%;
    height: 850px;
}
.harmonogram-zdjecia{
    display: flex;
    justify-content: center;


}

/* .section-historia{
    display: flex;
    
    flex-direction: column;    
} */
/* -------------------------------------HISTORIA---------------------------------------- */




.datarodzic{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: gray;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}
.data{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.datarodzic1{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: orange;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}
.harmonogram-napis{
    background-color: black;
    color: red;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* @media (max-width: 1000px) {
    .mecze{
        flex-direction: column;
    }

    .harmonogram-zdjecia{
        flex-direction: column;
    }
  } */
/* -------------------------------------------------------------------------------GABLOTA-SECTION----------------------------------------------------------------- */



.gablota{
    width: 100%;


}



































































































































































































































































html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}